body {
  margin: 0px;
  background-color: lightgray;
}
h1 {
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: fixed;
}

.picture-test {
  width: 100vw;
  height: 300px;
  background-image: url("/pictures/Flag_of_Vanuatu.png");
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

.create-name-div {
  width: 200px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
  margin-top: 20px;
  padding: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 11px;
  margin-left: 50px;
}
.name {
  width: 90%;
}
.send-name {
  margin-top: 10px;
}
