h1 {
  color: blue;
}

.picture-test {
  width: 140px;
  height: 80px;
  background-image: url("/pictures/Flag_of_Vanuatu.png");
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
